* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  text-align: center;
  color: rgb(251, 255, 0);
   background-color: black; 
}
.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}
.cell {
  font-family: "Permanent Marker", cursive;
  height: 100px;
  width: 100px;
  border: 1px solid aqua;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}
.game-restart {
  padding: 5px 20px 10px;
  background-color: yellow;
  border-radius: 25px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  font-size: medium;
  outline: none;
}
.game-status{
    color: white;
}